<div class="hero-unit">
	<p>Category</p>
	<ul>
		<li>@Html.ActionLink("Category", MVC.Language.Index(), MVC.Word.Name)</li>
		<li>@Html.ActionLink("Create Category", MVC.Language.Create(), MVC.Word.Name)</li>
	</ul>
</div>