@{
	ViewBag.Title = "Upload";
}
<h2>Upload</h2>
@using (Html.BeginForm(actionName: MVC.Word.ActionNames.UploadWordsPicture, controllerName: MVC.Word.Name,
                                         method: FormMethod.Post,
                                         htmlAttributes: new {enctype = "multipart/form-data"}))
{
	<text>Upload a photo:</text>
	<input type="file" multiple="multiple" name="files" id="files" />
	<input type="submit" value="Upload" class="btn-info" />
}
<div class="alert alert-error">
	

</div>